.DS_Store
docs/DOCS_INDEX.md

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json

node_modules/
package-lock.json
coverage/
dist/
supabase/
sample/
images/*
!images/kokuban_9slice.png
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
